.navbar{
    background-color: rgb(212, 184, 133);
    height: 50px;
    text-align: center;
    font-size: 40px;
    color: rgb(73, 61, 143);
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}
.button {
  width: 200px;
  height: 200px;
  border: solid black 2px;
  display: inline-block;
}
#grey {
  background: grey;
}
#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
